@font-face {
	font-family: 'Brittany Signature';
	src: url('fonts/BrittanySignature.ttf') format('opentype');
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /* FONTS */
    --heading-font: 'Brittany Signature', cursive;
    --text-font: 'Montserrat', sans-serif;
    --highlight-font: 'Cinzel', serif;

    /* COLORS */
    --main-color: #122A36;
    --highlight-color: #B88A3F;
    --red: #3E0403;
    --green: #353920;
}

:target {
    scroll-margin-top: 4.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: var(--text-font);
}

.subtitle {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 2.4rem;
    letter-spacing: .5rem;
}

header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    max-width: 144rem;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 2rem;
    z-index: 999;
}

.logo {
    display: block;
}

.logo img {
    height: 10rem;
    width: 10rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    text-align: center;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color .2s;
}

nav ul li a:hover {
    color: var(--highlight-color);
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 3rem;
    height: .2rem;
    background: #FFF;
    margin: .8rem;
    transition: .3s;
}

.mobile-menu:hover {
    cursor: pointer;
}

.home {
    background: url(img/home1.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    /* background-attachment: fixed; */
}

.home-page {
    max-width: 144rem;
    margin: 0 auto;
}

.home .date {
    text-align: center;
    color: #FFF;
    letter-spacing: .7rem;
    user-select: none;
    padding: 4rem 0 1rem;
}

.home .title h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 15rem;
    user-select: none;
    color: #FFF;
    opacity: .35;
}

.home .title span {
    font-size: 10rem;
}

.home .countdown {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, .3);
    color: var(--main-color);
    font-weight: 600;

    margin: 0 auto 5rem;
    width: 20rem;
    height: 5rem;
}

/* .home .countdown span {
    color: var(--highlight-color);
} */

.home .bible-verse {
    color: #FFF;
    font-family: var(--highlight-font);
    text-align: end;
    padding: 0rem 2rem 2rem;
    font-size: 1.3rem;
}

.home .bible-verse .book {
    font-weight: 600;
}

/* GUESS CONFIRMATION SECTION */

.guest-confirmation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
}

.guest-confirmation iframe {
    max-width: 56rem;
    width: 100%;
    height: 31.5rem;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .4);
}

.modal-content {
    background: var(--highlight-color);
    padding: 6rem 4rem 4rem;
    position: relative;
    max-width: 60rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h2 {
    max-width: 50rem;
    margin-bottom: 4rem;
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.modal-content form .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.modal-content form .form-wrapper label {
    text-align: start;
    max-width: 50rem;
    width: 100%;
}

.modal-content form .form-wrapper input {
    max-width: 50rem;
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    font-family: var(--text-font);
    border: solid .2rem var(--main-color);
}

.modal-content form .form-wrapper input:focus {
    box-shadow: 0;
    outline: 0;
}

.modal-content form button {
    margin: 2rem auto 0;
}

.modal .close {
    color: var(--main-color);
    font-size: 6rem;
    transition: .3s;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 2rem;
}

.close:hover,
.close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

button {
    font-family: var(--text-font);
    padding: 2rem 5rem;
    margin: 5rem auto;
    background: var(--main-color);
    color: var(--highlight-color);
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    color: #FFF;
    background: var(--red);
}

/* OUR HISTORY SECTION */

.our-history {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4rem;
    margin-bottom: 10rem;
    overflow: hidden;
}

.our-history .col-2 {
    display: flex;
    column-gap: 4rem;
    margin: 2rem 0;
}

.our-history .col-2 div {
    width: 100%;
}

.our-history .col-2 p {
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
}

.our-history .photos-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .1rem;
    margin-top: 4rem;
    width: 392rem;
    position: relative;
    animation: 30s linear infinite alternate photosRow;
    background: #000;
}

.our-history .photos-row .movieroll {
    width: 392rem;
    background: #000;
    height: 3rem;
    display: flex;
    gap: 2rem;
    padding: 0 1.4rem;
    justify-content: space-between;
    align-items: center;
}

.our-history .photos-row .movieroll div {
    min-width: 1rem;
    height: 1.5rem;
    border-radius: .1rem;
    background: #FFF;
}

.our-history .photos-row .photos {
    display: flex;
    gap: 1rem;
    padding: 0 1.5rem;
    justify-content: center;
    align-items: center;
}

.our-history .photos-row .photos img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
}

@keyframes photosRow {
    0% {
        right: 0;
    }

    100% {
        right: calc(270rem);
    }
}

/* COMO CHEGAR SECTION */

.como-chegar {
    max-width: 1440px;
    margin: 0 auto 4rem;
    padding: 4rem;
    background: var(--main-color);
    color: #FFF;
}

.como-chegar .subtitle {
    color: var(--highlight-color);
}

.como-chegar .address-info {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.como-chegar .address-info iframe {
    width: 50%;
    height: 50rem;
    border: .5rem solid var(--highlight-color);
}

.como-chegar .address-info .address {
    text-align: center;
    width: 50%;
    padding: 0 1rem;
}

.como-chegar .address-info .address h3 {
    color: var(--highlight-color);
    margin-bottom: 2rem;
}

.como-chegar .address-info .address .local {
    font-family: var(--highlight-font);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.como-chegar .address-info .address .instructions {
    margin-top: 5rem;
}

/* GIFTS LIST SECTION */

.gifts-list {
    max-width: 144rem;
    padding: 0 4rem;
}

.gifts-list a {
    margin: 0 auto;
}

.list-access {
    display: flex;
    align-items: center;
}

/* PHOTOS GALLERY SECTION */

.gallery {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.images-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.btn-back {
    position: relative;
    left: 4rem;
}

.btn-next {
    position: relative;
    right: 4rem;
}

.btn-back,
.btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.btn-back:hover,
.btn-next:hover {
    color: var(--highlight-color);
    background: var(--red);
}

.slider {
    max-width: 80rem;
    width: 100%;
    height: 50rem;
    overflow: hidden;
}

.slides {
    width: 1000%;
    height: 50rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 10%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 50rem;
    object-fit: contain;
    object-position: center center;
}

.navigation-manual {
    position: absolute;
    width: 80rem;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: .2rem solid var(--highlight-color);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
    padding: .5rem;
    cursor: pointer;
    transition: .3s;
}

.manual-btn:not(:last-child) {
    margin-right: 4rem;
}

.manual-btn:hover {
    background: var(--red);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -10%;
}

#radio3:checked ~ .first {
    margin-left: -20%;
}

#radio4:checked ~ .first {
    margin-left: -30%;
}

#radio5:checked ~ .first {
    margin-left: -40%;
}

#radio6:checked ~ .first {
    margin-left: -50%;
}

#radio7:checked ~ .first {
    margin-left: -60%;
}

#radio8:checked ~ .first {
    margin-left: -70%;
}

#radio9:checked ~ .first {
    margin-left: -80%;
}

#radio10:checked ~ .first {
    margin-left: -90%;
}

#label1.active,
#label2.active,
#label3.active,
#label4.active,
#label5.active,
#label6.active,
#label7.active,
#label8.active,
#label9.active,
#label10.active {
    background: var(--red);
}

.message-form {
    background: var(--highlight-color);
}

.message-form .content {
    max-width: 144rem;
    margin: 6rem auto 0;
    padding: 8rem 4rem;
}

.message-form .subtitle {
    text-align: center;
}

.message-form form {
    background: var(--main-color);
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    padding: 6rem 0 2rem;
}

.message-form form input,
.message-form form textarea {
    max-width: 40rem;
    width: 90%;
    font-size: 1.6rem;
    font-family: var(--text-font);
}

.message-form form input:focus,
.message-form form textarea:focus {
    box-shadow: 0;
    outline: 0;
}

.message-form form input {
    padding: 0 2rem;
    height: 5rem;
}

.message-form form textarea {
    padding: 2rem;
    height: 20rem;
}

.message-form form button {
    margin: 0;
    background: var(--highlight-color);
    color: var(--main-color);
    padding: 1rem 2rem;
}

.message-form form button:hover {
    background: var(--red);
    outline: solid .2rem var(--highlight-color);
    color: #FFF;
}


footer {
    height: 5rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: var(--highlight-font);
}

audio {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 0;
}

@media (max-width: 1020px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--main-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10rem 2rem;
        display: none;
        transition: transform 0.3s ease-in;
    }

    .mobile-menu {
        display: block;
    }

    .home .title h1 {
        font-size: 12rem;
    }

    .home .title span {
        font-size: 7rem;
    }

    .guest-confirmation {
        flex-direction: column;
    }

    .our-history .col-2 {
        flex-direction: column;
    }

    .links {
        flex-direction: column;
    }

    .navigation-manual {
        display: none;
    }

    .btn-back,
    .btn-next {
        width: 4rem;
        height: 4rem;
        font-size: 1.5rem;
    }

    .btn-next {
        right: 1rem;
    }

    .btn-back {
        left: 1rem;
    }

    .our-history {
        padding: 0 3rem;
    }

    .como-chegar {
        padding: 4rem 3rem;
    }

    .gifts-list {
        padding: 0 3rem;
    }

    .gallery {
        padding: 0 3rem;
    }
}

@media (max-width: 620px) {
    .home .date {
        font-size: 1.1rem;
    }

    .home .title h1 {
        font-size: 10rem;
    }

    .home .title span {
        font-size: 6rem;
    }

    .home .countdown {
        font-size: 1.2rem;
        width: 14rem;
        height: 4rem;
    }

    .home .bible-verse {
        font-size: 1rem;
        text-align: center;
        padding: 0 .5rem 1rem;
    }

    button {
        font-size: 1.4rem;
    }

    .como-chegar .address-info {
        flex-direction: column-reverse;
    }

    .como-chegar .address-info iframe {
        width: 100%;
    }

    .como-chegar .address-info .address {
        width: 100%;
        margin: 5rem 0;
    }

    .slide img {
        object-fit: cover;
    }

    .our-history {
        padding: 0 2rem;
    }

    .como-chegar {
        padding: 4rem 2rem;
    }

    .gifts-list {
        padding: 0 2rem;
    }

    .gallery {
        padding: 0 2rem;
    }
}

@media (max-width: 500px) {
    .home .title h1 {
        font-size: 6rem;
    }

    .home .title span {
        font-size: 4rem;
    }

    .modal-content {
        padding: 8rem 2rem 4rem;
        font-size: 1.4rem;
    }

    .modal-content form .form-wrapper input {
        font-size: 1.4rem;
    }
}

.nav-list.active {
    transform: translateX(0);
    display: flex;
    animation: .25s linear mobileNavbar;
}

@keyframes mobileNavbar {
    0% {
        right: -50vw;
    }

    100% {
        left: 50vw;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background: var(--highlight-color);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background: var(--highlight-color);
}