@font-face {
	font-family: 'Brittany Signature';
	src: url('fonts/BrittanySignature.ttf') format('opentype');
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /* FONTS */
    --heading-font: 'Brittany Signature', cursive;
    --text-font: 'Montserrat', sans-serif;
    --highlight-font: 'Cinzel', serif;

    /* COLORS */
    --main-color: #122A36;
    --highlight-color: #B88A3F;
    --red: #3E0403;
    --green: #353920;
}

body {
    font-size: 1.6rem;
    font-family: var(--text-font);
}


.subtitle {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 2.4rem;
    letter-spacing: .5rem;
}

header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    max-width: 144rem;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 2rem;
    z-index: 999;
}

.logo {
    display: block;
}

.logo img {
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    text-align: center;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color .2s;
}

nav ul li a:hover {
    color: var(--highlight-color);
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 3rem;
    height: .2rem;
    background: #FFF;
    margin: .8rem;
    transition: .3s;
}

.mobile-menu:hover {
    cursor: pointer;
}

.home {
    background: url(img/home1.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    /* background-attachment: fixed; */
}

.home-page {
    max-width: 144rem;
    margin: 0 auto;
}

.home .date {
    text-align: center;
    color: #FFF;
    letter-spacing: .7rem;
    user-select: none;
    padding: 4rem 0 1rem;
}

.home .title h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 15rem;
    user-select: none;
    color: #FFF;
    opacity: .35;
}

.home .title span {
    font-size: 10rem;
}

.home .countdown {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, .3);
    color: var(--main-color);
    font-weight: 600;

    margin: 0 auto 5rem;
    width: 20rem;
    height: 5rem;
}

/* .home .countdown span {
    color: var(--highlight-color);
} */

.home .bible-verse {
    color: #FFF;
    font-family: var(--highlight-font);
    text-align: end;
    padding: 0rem 2rem 2rem;
    font-size: 1.3rem;
}

.home .bible-verse .book {
    font-weight: 600;
}

/* GUESS CONFIRMATION SECTION */

.guest-confirmation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 5rem 2rem;
}

.guest-confirmation div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guest-confirmation iframe {
    max-width: 56rem;
    width: 100%;
    height: 31.5rem;
}

button {
    font-family: var(--text-font);
    padding: 2rem 5rem;
    margin: 5rem auto;
    background: var(--main-color);
    color: var(--highlight-color);
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    color: #FFF;
}

/* OUR HISTORY SECTION */

.our-history {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    margin-bottom: 10rem;
}

.our-history .col-2 {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}

.our-history .col-2 p {
    width: 100%;
}

.our-history .photos-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    margin-top: 4rem;
}

.our-history .photos-row img {
    width: 20%;
    height: 25rem;
    object-fit: cover;
}

/* COMO CHEGAR SECTION */

.como-chegar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.como-chegar .address-info {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.como-chegar .address-info iframe {
    width: 50%;
    height: 50rem;
    border: .3rem solid var(--main-color);
}

.como-chegar .address-info .address {
    text-align: center;
    width: 50%;
    padding: 0 1rem;
}

.como-chegar .address-info .address h3 {
    color: var(--main-color);
    margin-bottom: 1rem;
}

.como-chegar .address-info .address .local {
    font-family: var(--highlight-font);
    font-size: 2rem;
    font-weight: bold;
}

.como-chegar .address-info .address .instructions {
    margin-top: 5rem;
}

/* GIFTS LIST SECTION */

.gifts-list {
    max-width: 144rem;
    padding: 0 2rem;
    margin: 5rem auto;
}

.list-access {
    display: flex;
    align-items: center;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .4);
}

.modal-content {
    background: var(--highlight-color);
    padding: 0 2rem;
    max-width: 90rem;
    width: 90%;
    position: relative;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 2rem 2rem;
    margin-bottom: 4rem;
}

.modal .close {
    color: var(--main-color);
    font-size: 5rem;
    transition: .3s;
    display: flex;
    justify-content: end;
    font-weight: 500;
}

.close:hover,
.close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.links button {
    width: 40%;
    min-width: 30rem;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
    transition: .3s;
}

.links button:hover > a {
    color: var(--highlight-color);
}

/* PHOTOS GALLERY SECTION */

.gallery {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.images-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}

.btn-back {
    position: relative;
    left: 4rem;
}

.btn-next {
    position: relative;
    right: 4rem;
}

.btn-back,
.btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.btn-back:hover,
.btn-next:hover {
    color: var(--highlight-color);
}

.slider {
    max-width: 80rem;
    width: 100%;
    height: 50rem;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 50rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 50rem;
    object-fit: contain;
    object-position: center center;
}

.navigation-manual {
    position: absolute;
    width: 80rem;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: .2rem solid var(--highlight-color);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s;
}

.manual-btn:not(:last-child) {
    margin-right: 4rem;
}

.manual-btn:hover {
    background: var(--highlight-color);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

footer {
    height: 5rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-top: 10rem;
}

@media (max-width: 1020px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--main-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10rem 2rem;
        display: none;
        /* transform: translateX(100%); */
        transition: transform 0.3s ease-in;
    }

    .mobile-menu {
        display: block;
    }

    .home .title h1 {
        font-size: 12rem;
    }

    .home .title span {
        font-size: 7rem;
    }

    .guest-confirmation {
        flex-direction: column;
    }

    .guest-confirmation div {
        width: 100%;
    }

    .links {
        flex-direction: column;
    }

    .navigation-manual {
        display: none;
    }
}

@media (max-width: 620px) {
    .home .date {
        font-size: 1.1rem;
    }

    .home .title h1 {
        font-size: 10rem;
    }

    .home .title span {
        font-size: 6rem;
    }

    .home .countdown {
        font-size: 1.2rem;
        width: 14rem;
        height: 4rem;
    }

    .home .bible-verse {
        font-size: 1rem;
        text-align: center;
        padding: 0 .5rem 1rem;
    }

    button {
        font-size: 1.4rem;
    }

    .our-history .col-2 {
        flex-direction: column;
    }

    .como-chegar .address-info {
        flex-direction: column-reverse;
    }

    .como-chegar .address-info iframe {
        width: 100%;
    }

    .como-chegar .address-info .address {
        width: 100%;
        margin: 5rem 0;
    }

    .btn-back,
    .btn-next {
        width: 1rem;
        width: 1rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .home .title h1 {
        font-size: 6rem;
    }

    .home .title span {
        font-size: 4rem;
    }
}

.nav-list.active {
    transform: translateX(0);
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background: var(--highlight-color);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background: var(--highlight-color);
}